config VIDEO_EXYNOS_CAMERA_POSTPROCESS_PD_MGR
	tristate "EXYNOS CAMERA POSTPROCESS POWER DOMAIN MANAGER Driver"
	depends on VIDEO_EXYNOS_CAMERA_POSTPROCESS
	default n
	help
		Use to build Camera Postprocess power domain manager driver
